@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(214, 26%, 88%);
  --dark-gray: hsl(210, 10%, 23%);
  --dark-blue: hsl(213, 84%, 24%);
  --light-blue-transparent: hsla(213, 84%, 24%, 0.5);
  --second-white: hsl(227, 60%, 97%);
  --font-family: "Poppins", sans-serif;
  --title-font-size: 32px;
  --first-font-size: 24px;
  --second-font-size: 16px;
  --third-font-size: 12px;
  --first-line-height: 150%;
  --second-line-height: 120%;
  --normal-weight: 400;
  --bold-weight: 700;
  --first-border-radius: 32px;
  --second-border-radius: 24px;
}

body.dark-theme {
  --white: hsla(213, 84%, 20%, 0.5);
  --light-gray: hsl(214, 26%, 88%);
  --dark-gray: hsl(214, 26%, 88%);
  --dark-blue: hsl(213, 84%, 54%);
  --light-blue-transparent: hsla(213, 84%, 24%, 0.5);
  --second-white: hsl(213, 84%, 5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--second-white);
  color: var(--dark-gray);
  font-family: var(--font-family);
  font-size: var(--first-font-size);
  font-weight: var(--normal-weight);
  line-height: var(--first-line-height);

  transition: background-color 0.3s ease;
}

.header {
  display: flex;
  padding: 24px 0;
  align-items: center;
}

.header .svg {
  width: 20%;
}

.header .title {
  color: var(--dark-blue);
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title p {
  color: var(--dark-gray);
}

.header .switch {
  width: 20%;
  display: grid;
  place-items: center;
}

input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.btn {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background-color: var(--dark-blue);
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  transition: ease-in 0.75s;
}

input[type="checkbox"]:checked ~ .btn {
  background-color: var(--dark-gray);
}

.btn::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: var(--white);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .btn::before {
  transform: translateX(-50px);
}

.btn::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: var(--dark-blue);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s;
  transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .btn::after {
  transform: translateX(0);
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 8.2% 0 20%;
}

.article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 0 0;
}

.input {
  margin: 100px 0 0 0;
}

.input input {
  font-size: var(--title-font-size);
  color: var(--dark-blue);
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.alerta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.alerta p {
  font-size: var(--third-font-size);
}

.botones {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 24px;
}

.f-button,
.s-button,
.t-button {
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;

  border-radius: var(--second-border-radius);
  font-size: var(--second-font-size);

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);

  transition: all 0.2s;
}

.f-button:hover {
  background-color: hsl(213, 84%, 20%);
  box-shadow: 0px 0px 9px 0 rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
  color: var(--light-gray);
}

.s-button:hover,
.t-button:hover {
  background-color: var(--light-gray);
  box-shadow: 0px 0px 9px 0 rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}

.f-button {
  padding: 24px;
  background-color: var(--dark-blue);
  color: var(--white);
  width: 50%;
  border: none;
}

.s-button {
  border: 2px solid var(--dark-blue);
  background-color: transparent;
  color: var(--dark-blue);
  width: 50%;
}

.t-button {
  border: 2px solid var(--dark-blue);
  background-color: var(--white);
  color: var(--dark-blue);
  padding: 12px;
}

.aside,
.area {
  background-color: var(--white);
  border-radius: var(--first-border-radius);
  padding: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;

  height: 65vh;
  width: 28%;

  transition: all 0.2s;
}

.aside {
  justify-content: center;
}

.aside:hover,
.area:hover {
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.17);
  transition: all 0.2s;
}

.area {
  justify-content: space-between;
}

.explorador svg {
  width: 100%;
  transition: all 0.1s;
}

.explorador svg:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}

.aside h2,
.area h2 {
  color: var(--dark-blue);
  font-weight: var(--bold-weight);
  font-size: var(--first-font-size);
  text-align: center;
  word-wrap: break-word;
  overflow: auto;
}

.aside > span {
  color: var(--dark-gray);
  font-size: var(--second-font-size);
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: var(--third-font-size);
  padding: 2.5%;
}

@media only screen and (max-width: 480px) {
  .header .title {
    font-size: var(--second-font-size);
    gap: 1px;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    padding: 0 5.5%;
  }

  .input {
    margin: 100px 0;
  }

  .article {
    margin: 0;
  }

  .aside,
  .area {
    padding: 9%;
    margin: 50px 0;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .explorador {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header .title {
    font-size: var(--second-font-size);
    gap: 1px;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    padding: 0 8%;
  }

  .input {
    margin: 100px 0;
  }

  .article {
    margin: 0;
  }

  .aside,
  .area {
    padding: 9%;
    margin: 50px 0;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .explorador {
    width: 30%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header .title {
    font-size: var(--second-font-size);
    gap: 1px;
  }

  .container {
    display: grid;
    grid-template-columns: 57% 43%;
  }

  .input {
    margin: 200px 0 0 0;
  }

  .aside,
  .area {
    padding: 9%;
    margin: 0;
    width: 100%;
    height: 75vh;
  }
}
